dist: trusty

sudo: false

language: python

python:
  - "3.5"
  - "3.6"

install:
  - pip install -r requirements_dev.txt
  - pip install -e .

script:
  - flake8 --show-source aiohttp_jwt
  - isort --check-only -rc aiohttp_jwt --diff

  - flake8 --show-source setup.py
  - isort --check-only setup.py --diff

  - flake8 --show-source tests
  - isort --check-only -rc tests --diff

  - pytest --cov=./aiohttp_jwt tests/

after_success:
  - codecov

cache:
  directories:
    - $HOME/.cache/pip

notifications:
  email: false
