aiohttp==3.13.3
async-timeout==5.0.1
atomicwrites==1.4.1
attrs==25.4.0
chardet==6.0.0.post1
coverage==7.13.4
flake8==7.3.0
idna==3.11
idna-ssl==1.1.0
isort==8.0.0
mccabe==0.7.0
more-itertools==10.8.0
multidict==6.7.1
pluggy==1.6.0
py==1.11.0
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.11.0
pytest==9.0.2
pytest-aiohttp==1.1.0
pytest-cov==7.0.0
pytest-mock==3.15.1
six==1.17.0
yarl==1.22.0
