aiohttp==3.7.4.post0
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
chardet==4.0.0
coverage==6.0.1
flake8==4.0.1
idna==3.2
idna-ssl==1.1.0
isort==5.9.3
mccabe==0.6.1
more-itertools==8.10.0
multidict==5.2.0
pluggy==1.0.0
py==1.10.0
pycodestyle==2.8.0
pyflakes==2.4.0
PyJWT==2.2.0
pytest==6.2.5
pytest-aiohttp==0.3.0
pytest-cov==3.0.0
pytest-mock==3.6.1
six==1.12.0
yarl==1.3.0
